# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.env/
.venv/

# Env / secrets
.env
.env.*

# Banco local e backups
data/
backups/
*.db
*.sqlite
*.sqlite3
logs/

# VSCode
.vscode/

# Logs / outputs
logs/
exports/
uploads/

# Streamlit cache/config (se usar)
.streamlit/

# OS
.DS_Store
Thumbs.db